@model ShareTravelSystem.ViewModels.Announcement.DetailsAnnouncementViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="ml-3">Details Announcement</h1>
<div class="col-4 mt-3 ">
    <div class="card bg-secondary mb-4">
        <div class="card-body">
            <h5 class="card-title "><strong>@Model.Title</strong></h5>
            <p class="card-text ">@Model.Content</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated on @Model.CreateDate by @Model.Author</small>
        </div>
    </div>
    <div class="row">
        <form asdp-area="Admin" asp-controller="Announcement" asp-action="Delete" asp-route-id="@Model.Id" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <button type="submit" class="btn btn-primary ml-3">Delete</button>
        </form>
    </div>
    
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}