@model OfferPaginationViewModel

@foreach (var offer in Model.AllOffers.Offers)
{
    <div class="col-lg-4 d-flex align-items-stretch mb-3">
        <div class="card border-primary" style="width: 18rem;">
            <div class="card-body border-primary">
                <h5><span class="badge badge-primary">@offer.Type</span></h5>
                <p class="card-text">@offer.ShortDescription</p>
            </div>
            <ul class="list-group list-group-flush border-primary">
                <li class="list-group-item border-primary">
                    <strong>From</strong> @offer.DepartureTownName
                    To @offer.DestinationTownName
                </li>
                <li class="list-group-item border-primary"><strong>Seat:</strong> @offer.Seat</li>
                <li class="list-group-item border-primary"><strong>Price:</strong> @offer.Price</li>
            </ul>
            <div class="card-body">
                <div class="row ml-1">
                    <a class="btn bg-primary text-white" asp-controller="Offers" asp-action="Details" asp-route-id="@offer.Id">
                        <strong>Preview</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
}