@model OfferPaginationViewModel

@foreach (var offer in Model.AllOffers.Offers)
{
    <div class="col-3">
        <div class="project project-default">
            <div class="shape">
                <div class="shape-text">
                    @offer.Type
                </div>
            </div>
            <div class="project-content mt-4" style="word-wrap: break-word;">
                <h1 class="lead">
                    From @offer.DepartureTownName <br/>
                    To @offer.DestinationTownName
                </h1>
                <h6 class="mt-1"> On: @offer.DepartureDate</h6>
                <p class="mt-3">Description: @offer.Description</p>

            </div>
            <div class="project-content mb-0">
                <p class="mt-1">Seat: @offer.Seat</p>
                <p class="mb-1">Price: @offer.Price</p>
                <p class="mb-1">TotalRating: @offer.TotalRating</p>
            </div>
            <div class="mb-0">
                <div class="row ml-2 mt-5">
                    <a class="btn bg-primary text-white mb-2" asp-controller="Offers" asp-action="Details" asp-route-id="@offer.Id">
                        <strong>Preview</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
}