@model DisplayAnnouncementViewModel

<div class="col-3">
    <a href="@Url.Action("Details", "Announcements", new {id = Model.Id})">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card-header border-primary"><strong>@Model.ShortTitle</strong></div>
            <div class="card-body text-primary">
                <p class="card-text">@Model.ShortContent</p>
            </div>
            <div class="card-footer border-primary">Last updated on @Model.CreateDate by @Model.Author</div>
        </div>
    </a>
</div>