@model AnnouncementPaginationViewModel

<div class="row">
    <form class="w-50">
        <div class="form-group">
            <div class="row">
                <div class="ml-4">All Announcements: @Html.RadioButton("privateAnnouncements", false, true)</div>
                <div class="ml-3">My Announcements: @Html.RadioButton("privateAnnouncements", true)</div>
                <button type="submit" class="btn btn-primary text-white ml-3 mr-2" href="@Url.Action("Index", "Announcements")">Apply Filter</button>
            </div>
        </div>
    </form>
    <form class="w-50">
        <div class="form-group">
            <div class="row">
                <input name="search" type="text" value="@Model.Search" class="ml-2" placeholder=" Search...">
                <button type="submit" class="btn btn-primary text-white ml-3 mr-2" href="@Url.Action("Index", "Announcements")">Search</button>
            </div>
        </div>
    </form>
</div>