@model ShareTravelSystem.ViewModels.Announcement.DetailsAnnouncementViewModel
@{
    ViewData["Title"] = "Details";
}

<h1 class="ml-3">Details Announcement</h1>
<div class="col-4 mt-3 ">
    <div class="card bg-secondary mb-4">
        <div class="card-body">
            <h5 class="card-title "><strong>@Model.Title</strong></h5>
            <p class="card-text ">@Model.Content</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated on @Model.CreateDate by @Model.Author</small>
        </div>
    </div>
    <div class="row">
        <a asp-controller="Announcement" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary ml-3">Edit</a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}