@model ShareTravelSystem.ViewModels.TownPaginationViewModel

@{
    ViewData["Title"] = "Manage Towns";
    var index = 1;
}

<div class="container">
    <h3 class="text-left">@ViewData["Title"]</h3>
    <form asp-controller="Town" asp-action="All" method="get">
        <input name="search" type="text" value="@Model.Search">
        <button type="submit" class="btn btn-primary text-white" href="@Url.Action("All","Town")"><strong>Search</strong></button>
    </form>
    <table class="table table-hover w-50 mt-3">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var town in Model.Towns)
            {
                @if (index % 2 == 0)
                {
                    <tr class="table-primary">
                        <td scope="row">@town.Id</td>
                        <td>@town.Name</td>
                        <td>
                            <div class="row">
                                <a href="@Url.Action("Edit","Town", new { id = town.Id})" class="btn btn-outline-danger">Edit</a>
                                <form asp-controller="Town" asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@town.Id" />
                                    <button type="submit" class="btn btn-danger ml-5">Delete</button>
                                </form>
                            </div>
                        </td>

                    </tr>
                }
                else
                {
                    <tr class="table-secondary">
                        <th scope="row">@town.Id</th>
                        <td>@town.Name</td>
                        <td>
                            <div class="row">
                                <a href="@Url.Action("Edit","Town", new { id = @town.Id})" class="btn btn-outline-danger">Edit</a>
                                <form asp-controller="Town" asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@town.Id" />
                                    <button type="submit" class="btn btn-danger ml-5">Delete</button>
                                </form>
                            </div>
                        </td>

                    </tr>

                }
                index++;
            }

        </tbody>
    </table>

</div>

@{
    int itemsPerPage = Model.Size;
    int itemsCount = Model.Count;

    int currentPage = Model.Page;

    int pageUp = (double)itemsCount / (itemsPerPage * Model.Page) > 1 ? Model.Page + 1 : Model.Page;
    int pageDown = Model.Page > 1 ? Model.Page - 1 : Model.Page;

    int totalPages = (int)Math.Ceiling(((double)Model.Count / Model.Size));


    <p class="text-center">Page @Model.Page of @(totalPages < 1 ? 1 : totalPages )</p>
}

<div class="text-center">
    <a href="/Town/All?page=@pageDown.ToString()&search=@Model.Search">&#8678;</a>
    <span class="btn btn-default">@Model.Page</span>
    <a href="/Town/All?page=@pageUp.ToString()&search=@Model.Search">&#8680;</a>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




