@model ShareTravelSystem.ViewModels.TownPaginationModel

@{
    ViewData["Title"] = "All Towns";
    var index = 1;



}


<div class="container">
    <h3 class="text-left">Manage Towns</h3>

    <table class="table table-hover w-50 ">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var town in Model.Towns)
            {
                @if (index % 2 == 0)
                {
                    <tr class="table-primary">
                        <td scope="row">@town.Id</td>
                        <td>@town.Name</td>
                        <td><a href="@Url.Action("Edit","Town", new { id = town.Id})" class="btn btn-outline-danger">Edit</a></td>
                    </tr>
                }
                else
                {
                    <tr class="table-secondary">
                        <th scope="row">@town.Id</th>
                        <td>@town.Name</td>
                        <td><a href="@Url.Action("Edit","Town", new { id = town.Id})" class="btn btn-outline-danger">Edit</a></td>

                    </tr>

                }
                index++;
            }

        </tbody>
    </table>

</div>

@{
    int itemsPerPage = Model.Size;
    int itemsCount = Model.Count;

    int currentPage = Model.Page;

    int pageUp = (double)itemsCount / (itemsPerPage * Model.Page) > 1 ? Model.Page + 1 : Model.Page;
    int pageDown = Model.Page > 1 ? Model.Page - 1 : Model.Page;

    int totalPages = (int)Math.Ceiling(((double)Model.Count / Model.Size));


    <p class="text-center">Page @Model.Page of @(totalPages < 1 ? 1 : totalPages )</p>
}

<div class="text-center">
    <a  href="/Town/All?page=@pageDown.ToString()">&#8678;</a>
    <span class="btn btn-default">@Model.Page</span>
    <a href="/Town/All?page=@pageUp.ToString()">&#8680;</a>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




