@model List<ShareTravelSystem.Data.Models.Town>

@{
    ViewData["Title"] = "All Towns";
    var index = 1;
}

<div class="container">
    <h3 class="text-left">Manage Towns</h3>

    <table class="table table-hover w-50 ">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var town in @Model)
            {
                @if (index % 2 == 0)
                {
                    <tr class="table-primary">
                        <td scope="row">@town.Id</td>
                        <td>@town.Name</td>
                        <td><a href="@Url.Action("Edit","Town", new { id = town.Id})" class="btn btn-outline-danger">Edit</a></td>
                    </tr>
                }
                else
                {
                    <tr class="table-secondary">
                        <th scope="row">@town.Id</th>
                        <td>@town.Name</td>
                            <td><a href="@Url.Action("Edit","Town", new { id = town.Id})"  class="btn btn-outline-danger">Edit</a></td>
                        
                    </tr>
                    
                }
                index++;
            }

        </tbody>
    </table>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}



