@model ShareTravelSystem.ViewModels.TownPaginationViewModel

@{
    ViewData["Title"] = "Manage Towns";
}

@Html.ValidationSummary(false)
<div class="container">
    <form asp-controller="Town" asp-action="All" method="get" class="mt-3">
        <input name="search" type="text" value="@Model.Search">
        <button type="submit" class="btn btn-primary" href="@Url.Action("All","Town")"><i class="fas fa-search-plus"></i></button>
    </form>
    <table class="table table-hover col-5 mt-3" id="townTable">
        <thead>
            <tr class="bg-primary">
                <th colspan="3">Towns</th>
            </tr>
            <tr>
                <th scope="col" id="topRow">#</th>
                <th scope="col" id="topRow">Name</th>
                <th scope="col" id="topRow"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var town in Model.Towns)
            {

                <tr>
                    <td scope="row">@town.Id</td>
                    <td>@town.Name</td>
                    <td>
                        <div class="row">
                            <a href="@Url.Action("Edit","Town", new { id = town.Id})" title="Edit" class="editOfferCLass"><i class="fas fa-pencil-alt"></i></a>
                            <form asp-controller="Town" asp-action="Delete" method="post" class="ml-3">
                                <input type="hidden" name="id" value="@town.Id" />
                                <button type="submit" id="buttonId" title="Delete" class="deleteOfferCLass"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@{
    int itemsPerPage = Model.Size;
    int itemsCount = Model.Count;

    int currentPage = Model.Page;

    int pageUp = (double)itemsCount / (itemsPerPage * Model.Page) > 1 ? Model.Page + 1 : Model.Page;
    int pageDown = Model.Page > 1 ? Model.Page - 1 : Model.Page;

    int totalPages = (int)Math.Ceiling(((double)Model.Count / Model.Size));


    <p class="text-center col-7">Page @Model.Page of @(totalPages < 1 ? 1 : totalPages )</p>
}

<div class="text-center col-7">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a href="/Town/All?page=@pageDown.ToString()&search=@Model.Search" class="btn btn-outline-primary">&#8678;</a>
        <button type="button" class="btn btn-outline-primary">@Model.Page</button>
        <a href="/Town/All?page=@pageUp.ToString()&search=@Model.Search" class="btn btn-outline-primary">&#8680;</a>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}




