@model ShareTravelSystem.ViewModels.Offer.DetailsOfferViewModel

@{
    ViewData["Title"] = "All Offers";
}

<div class="Container">
    <h1 class="m-3">Preview Offer</h1>
    <div class="col-3">
        <div class="project project-default">
            <div class="shape">
                <div class="shape-text">
                    @Model.Type
                </div>
            </div>
            <div class="project-content mt-4">
                <h1 class="lead">
                    From @Model.DepartureTownName <br />
                    To @Model.DestinationTownName
                </h1>
                <h6 class="mt-1"> On: @Model.DepartureDate</h6>
                <p class="mt-3">Description: @Model.Description</p>

            </div>
            <div class="project-content mb-0">
                <p class="mt-1">Seat: @Model.Seat</p>
                <p class="mb-1">Price: @Model.Price</p>
                <p class="mb-1">Post on: @Model.CreateDate</p>
                <p class="mb-1">Post by: @Model.Author</p>
                <p class="mb-1">Rating: @Model.TotalRating</p>
            </div>
            <div class="mb-5">
                <a class="btn btn-primary btn-xs btn-update btn-add-card" asp-controller="Offer" asp-action="Edit" asp-route-id="@Model.Id"><strong>Edit</strong></a>
                <form asp-controller="Offer" asp-action="Like" method="post">
                    <input type="hidden" name="offerId" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger btn-xs btn-update btn-add-card"><i class="fas fa-thumbs-up"></i></button>
                </form>
                <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-4 col-md-4 col-lg-4 position-relative">
        <form asp-controller="Review" asp-action="Create" method="post">
            <div>
                <textarea class='col-lg-12' name="comment" placeholder="Comment this offer.." rows="4"></textarea>
            </div>
            <div>
                <input name="offerId" type="hidden" value="@Model.Id" class="form-control mt-4" />
            </div>
            <button class="btn btn-primary text-white" type="submit" value="Create Comment">Add Comment</button>
        </form>
        <h1 class="mt-2">Comments</h1>
        <hr />
    </div>
    <div>
        <ul>
            @if (Model.Reviews.Count == 0)
            {
                <li>No comments</li>
            }
            else
            {
                @foreach (var review in @Model.Reviews)
                {
                    <li>[ @review.Author on @review.CreateDate.ToLocalTime() ] : @review.Content</li>
                }
            }
        </ul>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

