@model OfferPaginationViewModel

@{
    var likedOffers = ViewData["LikedDislikedOffersIds"] as List<int>;
}

<div class="container" id="tourpackages-carousel">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-md-offset-3 col-lg-offset-0">
                <div class="well search-bar">
                    <h3 align="center" class="mb-0">Filter Offers</h3>
                    <hr class="col-lg-6 mt-0" />
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <label for="location1" class="control-label ml-3">Offers: </label>
                                <div class="ml-3">All Offers  @Html.RadioButton("privateOffers", false, true)</div>
                                <div class="ml-3">My Offers  @Html.RadioButton("privateOffers", true)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="type1" class="control-label ml-3">Types: </label>
                                <div class="ml-3">All Types  @Html.RadioButton("filter", "All", true) </div>
                                <div class="ml-3">Search Types  @Html.RadioButton("filter", "Search")</div>
                                <div class="ml-3">Suggest Types  @Html.RadioButton("filter", "Suggest")</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="location1" class="control-label ml-3">Town: </label>
                                <input class="ml-3" name="search" type="text" value="@Model.Search">
                                <button type="submit" class="btn btn-primary btn-sm text-white ml-5" href="@Url.Action("All","Offer")">Apply Filters</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12"><h1>@ViewData["Title"] <a class="btn icon-btn btn-primary pull-right" asp-controller="Offer" asp-action="Create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle"></span> Create New Offer</a></h1></div>
        @if (!Model.AllOffers.Offers.Any())
        {
            <h1>No Offers</h1>
        }
        else
        {
            @await Html.PartialAsync("_OfferPartial", Model)
        }
    </div>
</div>

@await Html.PartialAsync("_PagingOffer", Model)

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


































