@model ShareTravelSystem.ViewModels.DisplayAllAnnouncementsViewModel
@using Microsoft.AspNetCore.Identity
@using ShareTravelSystem.Web.Areas.Identity.Data;
@{
    ViewData["Title"] = "Home Page";
}
@inject SignInManager<ShareTravelSystemUser> SignInManager
@inject UserManager<ShareTravelSystemUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="jumbotron border-0">
        <div class="container">
            @if (this.User.IsInRole("User"))
            {
                <h1 class="display-3">Tr@vel w1th Fr1ends!</h1>
            }
            else
            {
                <h1 class="display-3">Admin Panel!</h1>
            }
        </div>
    </div>
    <div class="container">
        <h4 class="mt-0">Latest news</h4>
        <hr />
        <div class="card-deck">
            @foreach (var announcement in @Model.Announcements)
            {
                <div class="col-3">
                    <a href="@Url.Action("Details","Announcement", new { id = announcement.Id})">
                        <div class="card bg-secondary mb-4">
                            <div class="card-body" style="word-wrap: break-word;">
                                <h5 class="card-title "><strong>@announcement.ShortTitle</strong></h5>
                                <p class="card-text ">@announcement.ShortContent</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated on @announcement.CreateDate by @announcement.Author</small>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
        <hr>
    </div>
}
else
{
    <div id="my-div" class="wrapper"><a class="btn btn-primary btn-lg text-white" href="/Account/Login" id="bigbutton">TRAVEL WITH ME</a></div>

}
