@model ShareTravelSystem.ViewModels.DisplayAllAnnouncementsViewModel

@using System.Linq;
@*@{
    ViewData["Title"] = "All Announcement";
}*@
<!-- Material form register -->
<div class="container">
    <h4 class="mt-3">@ViewData["Title"]</h4>
    <hr />
    <!-- Example row of columns -->
    <div class="card-deck">
        @if (@Model.Announcements.Count() == 0)
        {

            <h2>No announcements</h2>
        }
        @foreach (var announcement in @Model.Announcements)
        {
            <div class="col-3">
                <div class="card bg-secondary mb-4">
                    <div class="card-body">
                        <h5 class="card-title "><strong>@announcement.Title</strong></h5>
                        <p class="card-text ">@announcement.Content</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated on @announcement.CreateDate by @announcement.Author</small>
                    </div>
                </div>
            </div>
        }
    </div>
    <hr />
</div> <!-- /container -->
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
