@model ShareTravelSystem.ViewModels.Announcement.DetailsAnnouncementViewModel
@{
    ViewData["Title"] = "Details";
}


<!-- Material form register -->

<h1 class="text-center">Id : @Model.Id</h1>
<hr class="hr-2 bg-dark" />
<div class="product-type-holder half-width mx-auto d-flex justify-content-between">
    <h3 class="text-center">Title: @Model.Title</h3>
</div>
<hr class="hr-2 bg-dark" />
<div class="product-description-holder">
    <p class="text-center mt-4">
        Content: @Model.Content
    </p>
</div>
<hr class="hr-2 bg-dark" />
<h3 class="text-center">@Model.CreateDate</h3>
<h3 class="text-center">@Model.Author</h3>
<div class="product-action-holder mt-4 d-flex justify-content-around">
    <a asp-controller="Announcement" asp-action="Edit" asp-route-id="@Model.Id" class="btn chushka-bg-color">Edit</a>
    <a asp-controller="Announcement" asp-action="Delete" asp-route-id="@Model.Id" class="btn chushka-bg-color">Delete</a>

</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

