@model ShareTravelSystem.ViewModels.OfferPaginationViewModel

@{
    var likedOffers = ViewData["LikedDislikedOffersIds"] as List<int>;
}


<div class="container" id="tourpackages-carousel">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-md-offset-3 col-lg-offset-0">
                <div class="well">
                    <h3 align="center" class="mb-0">Filter Offers</h3>
                    <hr class="col-lg-6 mt-0" />
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="row">
                                <label for="location1" class="control-label ml-3">Offers: </label>
                                <div class="ml-3">All Offers  @Html.RadioButton("privateOffers", false, true)</div>
                                <div class="ml-3">My Offers  @Html.RadioButton("privateOffers", true)</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="type1" class="control-label ml-3">Types: </label>
                                <div class="ml-3">All Types  @Html.RadioButton("filter", "All", true) </div>
                                <div class="ml-3">Search Types  @Html.RadioButton("filter", "Search")</div>
                                <div class="ml-3">Suggest Types  @Html.RadioButton("filter", "Suggest")</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="location1" class="control-label ml-3">Town: </label>
                                <input class="ml-3" name="search" type="text" value="@Model.Search">
                            </div>
                            <div class="mt-1 col-12 text-right mb-2">
                                <button type="submit" class="btn btn-primary btn-sm text-white ml-5" href="@Url.Action("All","Offer")">Apply Filters</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12"><h1>@ViewData["Title"] <a class="btn icon-btn btn-primary pull-right" asp-controller="Offer" asp-action="Create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle"></span> Create New Offer</a></h1></div>
        @foreach (var offer in @Model.AllOffers.Offers)
        {

            <div class="col-3">
                <div class="project project-default">
                    <div class="shape">
                        <div class="shape-text">
                            @offer.Type
                        </div>
                    </div>
                    <div class="project-content mt-4">
                        <h1 class="lead">
                            From @offer.DepartureTownName <br />
                            To @offer.DestinationTownName
                        </h1>
                        <h6 class="mt-1"> On: @offer.DepartureDate</h6>
                        <p class="mt-3">Description: @offer.Description</p>

                    </div>
                    <div class="project-content mb-0">
                        <p class="mt-1">Seat: @offer.Seat</p>
                        <p class="mb-1">Price: @offer.Price</p>
                        <p class="mb-1">TotalRating: @offer.TotalRating</p>
                    </div>
                    <div class="mb-0">
                        <div class="row ml-2 mt-5">
                            <a class="btn bg-primary text-white"  asp-controller="Offer" asp-action="Details" asp-route-id="@offer.Id"><strong>Preview</strong></a>
                            @if (!likedOffers.Contains(offer.Id))
                            {
                                <form asp-controller="Offer" asp-action="Like" method="post" class="ml-5">
                                    <input type="hidden" name="offerId" value="@offer.Id" />
                                    <button type="submit" id="likeDislikeButton" class="likeOfferClass" title="Like"><i class="fas fa-thumbs-up"></i></button>
                                </form>
                                <form asp-controller="Offer" asp-action="DisLike" method="post">
                                    <input type="hidden" name="offerId" value="@offer.Id" />
                                    <button type="submit" id="likeDislikeButton" class="dislikeOfferClass" title="DisLike"><i class="fas fa-thumbs-down"></i></button>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
            @*@await Html.PartialAsync("_OfferPartial", offer)*@
        }
    </div>
</div>

@await Html.PartialAsync("_PagingOffer", Model)

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


































