@model ShareTravelSystem.ViewModels.Offer.DetailsOfferViewModel

@{
    ViewData["Title"] = "All Offers";
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="Container">
    <div class="col-4">
        <div class="card-body" id="offerId">
            <h3 class="card-header bg-primary text-white text-center mt-2" id="offerId"><strong>@Model.Type place</strong></h3>
            <div class="card-body">
                <h5 class="card-title"><strong>From :</strong> @Model.DepartureTownName <br /> <strong>To :</strong> @Model.DestinationTownName</h5>
                <h6 class="card-subtitle "><strong><br />On :</strong> @Model.DepartureDate</h6>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Description :</strong> <br />@Model.Description</p>
            </div>
            <ul class="list-group list-group-flush bg-primary">
                <li class="list-group-item"><strong>Seats :</strong> @Model.Seat</li>
                <li class="list-group-item"><strong>Price per seat :</strong> @Model.Price</li>
                <li class="list-group-item"><strong>Rating :</strong> @Model.TotalRating</li>
                <li class="list-group-item"><strong>Author :</strong> @Model.Author</li>
            </ul>
            <div class="card-body text-muted">
                Post on: @Model.CreateDate
            </div>
            <div class="card-footer text-muted bg-primary text-center" id="offerId">
                <a asp-controller="Offer" asp-action="Edit" asp-route-id="@Model.Id" class="card-link text-white">Edit</a>
            </div>
        </div>
    </div>


    <form asp-controller="Review" asp-action="Create" method="post">
        <div>
            <textarea name="comment" style="font-family:sans-serif;font-size:1.2em;">
        Hey... say something!
        </textarea>
        </div>
        <div>
            <input name="offerId" type="hidden" value="@Model.Id" class="form-control mt-4" placeholder="Title" />
        </div>
        <button class="btn btn-primary text-white" type="submit" value="Create Comment" ></button>
    </form>
    <hr/>
    <h1 class="mt-5">Comments</h1>
    <ul>
        @if (Model.Reviews.Count == 0)
        {
            <li>No comments</li>
        }
        else
        {
            @foreach (var review in @Model.Reviews)
            {
                <li>@review.Content by @review.Author  on @review.CreateDate</li>
            }
        }   
    </ul>
</div>
