@model ShareTravelSystem.ViewModels.Offer.DetailsOfferViewModel

@{
    ViewData["Title"] = "All Offers";
}


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<div class="Container">
    <h1>Preview of Offer</h1>
    <div class="col-lg-6 col-sm-4 col-md-4 col-lg-4 position-relative">
        <div class="thumbnail">
            <label class="position-absolute lableoffer">@Model.Type</label>
            <div class="caption">
                <div class='col-lg-12'>
                    <span class="glyphicon glyphicon-credit-card"></span>
                    <span class="glyphicon glyphicon-trash pull-right text-primary"></span>
                </div>
                <div class='col-lg-12 well well-add-card mt-3'>
                    <h4>From @Model.DepartureTownName To @Model.DestinationTownName</h4>
                </div>
                <div class='col-lg-12'>
                    <p class="mt-3">Description: @Model.Description</p>
                    <p class="mt-3" class"text-muted">On: @Model.DepartureDate</p>
                    <p class="mt-3" class"text-muted">Seat: @Model.Seat</p>
                    <p class="mt-3" class"text-muted">Price: @Model.Price</p>
                    <p class="mt-3" class"text-muted">Post on: @Model.CreateDate</p>
                    <p class="mt-3" class"text-muted">Post on: @Model.Author</p>
                    <p class="mt-3" class"text-muted">Rating: @Model.TotalRating</p>
                </div>
                <div class="card-footer text-muted bg-primary text-center" id="offerId">
                    <a asp-controller="Offer" asp-action="Edit" asp-route-id="@Model.Id" class="card-link text-white">Edit</a>
                </div>
                <span class='glyphicon glyphicon-exclamation-sign text-danger pull-right icon-style'></span>
            </div>

        </div>
    </div>

    <div class="col-lg-6 col-sm-4 col-md-4 col-lg-4 position-relative">
        <form asp-controller="Review" asp-action="Create" method="post">
            <div>
                <textarea class='col-lg-12' name="comment" placeholder="Comment this offer.." rows="4"></textarea>
            </div>
            <div>
                <input name="offerId" type="hidden" value="@Model.Id" class="form-control mt-4" />
            </div>
            <button class="btn btn-primary text-white" type="submit" value="Create Comment">Add Comment</button>
        </form>
        <h1 class="mt-2">Comments</h1>
        <hr />
    </div>
    <div>
        <ul>
            @if (Model.Reviews.Count == 0)
            {
                <li>No comments</li>
            }
            else
            {
                @foreach (var review in @Model.Reviews)
                {
                    <li>[ @review.Author on @review.CreateDate.ToLocalTime() ] : @review.Content</li>
                }
            }
        </ul>
    </div>
</div>
